.profile-container {

    color: white;
    padding: 15px;
    max-width: 600px;
    border: 1px solid #333;
    margin-left: -35px;
}


.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-details {
    margin-left: 15px;
}

.verify-button {
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.edit-profile-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}


.profile-tabs ul {
    list-style: none;
    display: flex;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #444;
}

.profile-tabs li {
    margin-right: 20px;
    cursor: pointer;
}

.profile-tabs li.active {
    border-bottom: 2px solid #1DA1F2;
}


.profile-content {
    height: 400px;
    overflow-y: auto;
    padding-top: 20px;
    border-top: 1px solid #444;
}

.config-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.option {
    text-align: center;
}

.option-box {
    width: 100px;
    height: 60px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.listo {
    background: linear-gradient(45deg, #f39c12, #f1c40f);
    color: white;
    font-weight: bold;
}


.option p {
    margin-top: 10px;
    color: #999;
}