.profile-container {
  color: white;
  padding: 15px;
  max-width: 600px;
  border: 1px solid #333;
  margin-left: 35px;
  margin: 0;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #b5aeae;
}

.user-tweet{
  color: #1DA1F2;
  margin-right: 10px;
  font-size: 13px;
  margin-top: 3px;
}


.profile-container {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #000;
  padding: 20px;
}

.header-static {
  display: flex;
  align-items: flex-start;
  background-color: #000000;
  padding: 10px 0;
  gap: 5px;
  padding: 10px 15px;
  justify-content: space-between;
  position: sticky;

}

.post-name {
  margin-right: auto;

}

.back-button {
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;

}

.name-profile {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #fff;
  margin-bottom: 1px;
}

.posts-count {
  font-size: 12px;
  color: #aaa;
  margin: 0;
  margin-top: 5px;

}

.header-image img {

  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
}

.header-avatar {
  padding-block-end: 10%;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
  display: flex;
}

a {
  cursor: pointer;
}

.avatar {
  position: relative;
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #000;
  position: absolute;
  top: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  margin-top: -50px;
  left: 77px;
}

.user-details {
  margin-left: 15px;
}

.user-details h2 {
  margin: 0;
  font-size: 22px;
}

.user-details p {
  margin: 5px 0 0 0;
  color: #ccc;
}


.additional-info {
  margin-top: 10px;
  font-size: 0.8rem;
  margin-top: 5%;

}

.additional-info a {
  color: #1DA1F2;
  text-decoration: none;
}

.additional-info p {
  margin: 5px 0;
  font-size: 12px;
  color: #aaa;
  margin: 0;
  margin-top: 5px;

}


.follow-info {
  display: flex;
  margin-top: 15px;
  padding: 10px;
}

.follow-info a {
  color: #aaa;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
  font-size: 0.8rem;
}

.follow-info a:hover {
  text-decoration: underline;
}

.tweets-profile {
  width: 642px;
}
.h3-profile{

}