nav {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100vh;

    .twitter-logo {
        width: 50px;
    }
    

    .links {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
        
    }

    .link {
        display: flex;
        gap: 10px;
        svg{
            font-size: 25px;
            cursor: pointer;
        }
        align-items: center;
        a {
            color: white;
            text-decoration: none;
            font-size: 25px;
        }

        .link-icon {
            color: white;

        }
    }

}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 30px;

    .main-content-tweet {
        color: white;
        display: grid;
        grid-template-columns: 1fr 9fr;

        .tweet-profile-image {
            width: 50px;
            border-radius: 50%;
        }

        .buttons {
            display: flex;
            justify-content: space-between;

            .button {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }

    .tweet {
        padding: 10px;
        border: 1px solid #2F3336;
        .user-link {
            text-decoration: none;
            color: white;
            font-weight: 900;
        }

        .titles {
            display: flex;
            gap: 5px;
        }
        .texts{
            .button{
                cursor: pointer;
            }
        }
    }
.gray-color{
    color: #4D5154;
}

}