body {

 background-color: #000000; 
 font-family: 'Chirp', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.container{
  margin: 0 auto;
  max-width: 1100px;
}